<!DOCTYPE html>
<html>
  <head >
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <header>
   
    <h1>
      Your Birthstone is <%=@result%>!
    </h1>
  
    <h2>
      <img src="https://s-media-cache-ak0.pinimg.com/236x/43/ac/14/43ac14a9e1c6257dfeffc256918d04ac.jpg">
    </h2>
   <h3>
     <img src="https://s-media-cache-ak0.pinimg.com/originals/ac/00/01/ac000199dc32361e6a8955ae70f9909b.png">
    </h3>
    <h4>
      <img src="https://s-media-cache-ak0.pinimg.com/originals/3f/ab/e2/3fabe27508f7deafa9f5106da3e319a6.png">
    </h4>
    <h5>
      <img src="https://www.glockets.com/wp-content/uploads/2012/10/Birthstone-Charm-April.png">
    </h5>
    <h6>
      <img src="https://www.glockets.com/wp-content/uploads/2012/10/Birthstone-Charm-May.png">
    </h6>
    <h7>
    <img src="https://s-media-cache-ak0.pinimg.com/236x/1d/25/9b/1d259bfdef633e53b5c1028eac063e8f.jpg">
    </h7>
    <h8>
    <img src="https://www.glockets.com/wp-content/uploads/2012/10/Birthstone-Charm-July.png">
    </h8>
    <h9>
    <img src="https://www.glockets.com/wp-content/uploads/2012/10/Birthstone-Charm-August.png">
    </h9>
    <h10>
    <img src="https://s-media-cache-ak0.pinimg.com/564x/7b/71/e0/7b71e04e2b8a5ea2b7c2129c09d02b1f.jpg">
    </h10>
    <h11>
    <img src="https://www.glockets.com/wp-content/uploads/2012/10/Birthstone-Charm-October.png">
    </h11>
    <h12>
    <img src="https://s-media-cache-ak0.pinimg.com/originals/0d/b1/c5/0db1c547d681d45bdfe35f277c709922.png">
    </h12>
    <h13>
    <img src="https://s-media-cache-ak0.pinimg.com/236x/5e/a6/e1/5ea6e1cd90c039db5eea0b88ea527902.jpg">
    </h13>
  </header>
  </body>
</html>